---
---
<div>
<div class="py-30 mb-4">
<div class="flex justify-center space-x-4 mb--5 gap-6">
    <img src="/src/assets/images/x.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/you.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/in.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/insta.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/f.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/tik.svg" alt="" class="h-10 w-10">
</div>


<div class="flex flex-col sm:flex-row justify-center sm:justify-start space-y-10 sm:space-x-30 pt-10 sm:ml-80">
  <p class="leading-[2.5] text-center sm:text-left">
    <span class="text-[25px]">Let's Do It World NGO</span> <br>
    Roosikrantsi 3, TALLINN 10119, Estland<br>
    Reg. nr. 80562203 <br>
    digital@ldiw.org
  </p>

  <p class="leading-[2.5] text-center sm:text-left">
    Blog <br>
    Markedsføringsmateriale <br>
    Vedtægter <br>
    Bliv en del af bevægelsen
  </p>
</div>


</div>
  </div>
  