---
---
<div>
<div class="py-20 mb-4">
<div class="flex justify-center space-x-4 mb--5">
    <img src="/src/assets/images/x.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/you.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/in.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/insta.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/f.svg" alt="" class="h-10 w-10">
    <img src="/src/assets/images/tik.svg" alt="" class="h-10 w-10">
</div>


<div class="flex justify-center space-x-30 gap-10">
<p class="leading-loose">Let's Do It World NGO <br>
 Roosikrantsi 3, TALLINN 10119, Estland Reg. nr. 80562203 <br>

digital@ldiw.org</p>

<p class="leading-loose">Blog <br>
 Markedsføringsmateriale <br>
 Vedtægter <br>
 Bliv en del af bevægelsen</p>
</div>
</div>
  </div>
  