---
---
<div class="flex items-center space-x-30 p-5">
  <img src="/src/assets/images/logo.svg" alt="Logo" class="h-25">
  <ul class="flex space-x-30 text-[25px] ">
    <li>Deltag</li>
    <li>Ressourcer</li>
    <li>World Cleanup Day</li>
  </ul>
</div>
